<tr>
    <td><img ng-src="vendor/resources/img/{{::model.image}}" width="50" height="50" class="img-circle"></td>
    <td>{{::model.title}}</td>
    <td>{{::model.year}}</td>
    <td>{{::model.band.name}}</td>
    <td>{{::model.genre.name}}</td>
    <td>
       <ul>
           <li ng-hide="isLocalStorageEnable()"> Local Storage not enabled </li>
           <!--<button ng-click="deleteFav()" ng-show="isFavorite()" class="glyphicon glyphicon-heart"></button>-->
           <!--<button ng-click="setFav()" ng-hide="isFavorite()" class="glyphicon glyphicon-heart-empty"></button>-->
           <button ng-click="markAs(!isFavorite)" ><i class="glyphicon" ng-class="{'glyphicon-heart' : isFavorite , 'glyphicon-heart-empty' : !isFavorite }"></i></button>
       </ul>
    </td>

    <td ng-repeat="track in model.tracklist">
        <ul>
             <li>
              {{track}}
            </li>
        </ul>

    </td>
</tr>

